<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful MINUS01 STEETJAM</title>
    <style>
        /* Inline styles will be added here */
    </style>
</head>

<body style="font-family: Arial, sans-serif; background-color: white; margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900"
        style="max-width: 900px; margin: 20px auto; background: #f8f8f8; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
        <tr>
            <td align="center" style="padding: 20px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="70%"
                    style="background: white; border-radius: 0 0 20px 20px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.025);">
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table width="100%">
                                            <tr>
                                                <td align="left" style="padding: 20px;">
                                                    <img src="https://res.cloudinary.com/dyhh1e3ir/image/upload/v1739549777/img-removebg-black_wiruci.png"
                                                        alt="Logo" style="height: 60px;">
                                                </td>
                                                <td align="right" style="padding: 20px;">
                                                    <img src="https://res.cloudinary.com/dyhh1e3ir/image/upload/v1739630496/STREETJAM-min_c3qn03.png"
                                                        alt="Logo" style="height: 60px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <hr style="border: none; border-top: 1px solid rgb(242, 242, 242);">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px;">
                                        <h2 style="color: #333; margin-bottom: 50px;">Welcome!</h2>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin-bottom: 30px; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            Hi {{firstname}},</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin-bottom: 30px; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            Thanks for registering! You&apos;re now one step closer to experiencing
                                            MINUS01 STREETJAM!</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin-bottom: 30px; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            Here&apos;s a summary of your registration details. We can&apos;t wait to
                                            see you at the event!</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin-bottom: 30px; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            See you there!</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 20px;">
                                        <img src="https://res.cloudinary.com/dyhh1e3ir/image/upload/v1739626111/Group_2_y9u1xw.webp"
                                            alt="Banner" style="max-width: 100%; border-radius: 10px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px;">
                                        <h4 style="font-weight: 500; margin: 0; padding: 0;">Details</h4>
                                        <hr
                                            style="border: none; border-top: 1px solid rgb(242, 242, 242); margin: 0; padding: 0; margin-top: 2%;">
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin: 0; padding: 0; margin-top: 2%; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            {{firstname}} {{lastname}}</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin: 0; padding: 0; margin-top: 2%; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            {{sport}}</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin: 0; padding: 0; margin-top: 2%; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            {{email}}</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin: 0; padding: 0; margin-top: 2%; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            {{phone}}</p>
                                        <p
                                            style="font-size: 1rem; color: #676f77; margin: 0; padding: 0; margin-top: 2%; font-family: Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.7rem;">
                                            {{city}}, {{state}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <hr style="border: none; border-top: 1px solid rgb(242, 242, 242);">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 20px;">
                                        <p style="font-size: 0.8rem; color: #919191;">If you did not register for the
                                            event, please ignore this email or contact <a
                                                href="mailto:streetjam@seven01.com"
                                                style="color: black; text-decoration: none;">streetjam@seven01.com</a>.
                                        </p>
                                        <p style="font-size: 0.8rem; color: #919191;">&copy; 2025 MINUS01</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <h3>Policies and Terms</h3>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
                    <tr>
                        <td align="center" style="padding: 5px;">
                            <a href="https://participate.minus01.com/registration-terms"
                                style="text-decoration: none; color: black; padding: 2%; text-wrap: nowrap;">Terms of
                                Registration</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px;">
                            <a href="https://participate.minus01.com/terms-of-participation"
                                style="text-decoration: none; color: black; padding: 2%; text-wrap: nowrap;">Terms of
                                Participation</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px;">
                            <a href="https://participate.minus01.com/cancellations-and-refund"
                                style="text-decoration: none; color: black; padding: 2%; text-wrap: nowrap;">Cancellations
                                &amp; Refund</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px;">
                            <a href="https://participate.minus01.com/terms-of-use"
                                style="text-decoration: none; color: black; padding: 2%; text-wrap: nowrap;">Terms of
                                Use</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px;">
                            <a href="https://participate.minus01.com/privacy-policy"
                                style="text-decoration: none; color: black; padding: 2%; text-wrap: nowrap;">Privacy
                                Policy</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>